/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-container {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .register-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .register-container label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .register-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .register-container input:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
  }
  
  .register-container .register-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register-container .register-btn:hover {
    background-color: #218838;
  }
  .home-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .home-btn .material-icons {
    color: #333;
    font-size: 24px;
  }
  
  .home-btn:hover {
    background-color: #45a049;
  }
  
  .btn {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbffc5;
    padding: 10px 20px;
    border-bottom: 2px solid #cbffc5;
  }  