<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catálogo</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="inicio.component.css">
</head>
<body>
  <!-- Barra de navegación -->
  <header class="navbar">
    <!-- Logo en la izquierda -->
    <div class="logo">
      <img src="logoUTXJ.png" alt="Logo" class="logo-img">
    </div>

    <!-- Botón de inicio -->
    <button class="btn home-btn" onclick="window.location.href='/inicio';">
      <span class="material-icons">home</span>
    </button>

    <!-- Barra de búsqueda -->
    <div class="search-bar">
      <input type="text" placeholder="Buscar...">
    </div>

    <!-- Botones de usuario -->
    <div class="user-buttons">
      <button class="btn" onclick="window.location.href='/LoginAdmin';">Admin</button>
      <button class="btn logout-btn" >Log Out</button>
    </div>
  </header>

  <!-- Carrusel -->
  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="CIPSA.png" alt="CIPSA" onclick="window.location.href='/Cipsa';">
      </div>
      <div class="carousel-item">
        <img src="RYTVHidalgo.png" alt="RYTVHidalgo" onclick="window.location.href='/InfoRyTVHidalgo';">
      </div>
      <div class="carousel-item">
        <img src="LOGOXCARET.png" alt="LOGOXCARET" onclick="window.location.href='/InfoXcaret';">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="leer-mas-container">
    <!-- Primera fila -->
    <div class="row">
      <!-- Columna 1 -->
      <div class="column">
        <img src="1TVHidalgo.png" alt="Logo 1" class="image">
        <button class="infobtn" onclick="window.location.href='/InfoRyTVHidalgo';">Saber más</button>
      </div>
  
      <!-- Columna 2 -->
      <div class="column">
        <img src="1CIPSA.png" alt="Logo 2" class="image">
        <button class="infobtn" onclick="window.location.href='/Cipsa';">Saber más</button>
      </div>
  
      <!-- Columna 3 -->
      <div class="column">
        <img src="1Chevrolet.png" alt="Logo 3" class="image">
        <button class="infobtn" onclick="window.location.href='/ChevroletHuachi';">Saber más</button>
      </div>
  
      <!-- Columna 4 -->
      <div class="column">
        <img src="1XCARET.png" alt="Logo 4" class="image">
        <button class="infobtn" onclick="window.location.href='/InfoXcaret';">Saber más</button>
      </div>
    </div>
  
    <!-- Segunda fila -->
    <div class="row">
      <!-- Columna 1 -->
      <div class="column">
        <img src="1NUBYE.png" alt="Logo 5" class="image">
        <button class="infobtn" onclick="window.location.href='/Nubye';">Saber más</button>
      </div>
  
      <!-- Columna 2 -->
      <div class="column">
        <img src="1Gaya.png" alt="Logo 6" class="image">
        <button class="infobtn" onclick="window.location.href='/Gaya';">Saber más</button>
      </div>
  
      <!-- Columna 3 -->
      <div class="column">
        <img src="1inncol.png" alt="Logo 7" class="image">
        <button class="infobtn" onclick="window.location.href='/Inncol';">Saber más</button>
      </div>
  
      <!-- Columna 4 -->
      <div class="column">
        <img src="12Agua.png" alt="Logo 8" class="image">
        <button class="infobtn" onclick="window.location.href='/2Agua';">Saber más</button>
      </div>
    </div>
  </div>
  
  

</body>
</html>
