<div class="leer-mas-container">
    <!-- Primera fila -->
    <div class="row">
      <!-- Columna 1 -->
      <div class="column">
        <img src="1TVHidalgo.png" alt="Logo 1" class="image">
        <p>Texto descriptivo del primer elemento.</p>
        <button class="btn" onclick="window.location.href='/ruta1';">Leer más</button>
      </div>
  
      <!-- Columna 2 -->
      <div class="column">
        <img src="1CIPSA.png" alt="Logo 2" class="image">
        <p>Texto descriptivo del segundo elemento.</p>
        <button class="btn" onclick="window.location.href='/ruta2';">Leer más</button>
      </div>
  
      <!-- Columna 3 -->
      <div class="column">
        <img src="1Chevrolet.png" alt="Logo 3" class="image">
        <p>Texto descriptivo del tercer elemento.</p>
        <button class="btn" onclick="window.location.href='/ruta3';">Leer más</button>
      </div>
  
      <!-- Columna 4 -->
      <div class="column">
        <img src="1XCARET.png" alt="Logo 4" class="image">
        <p>Texto descriptivo del cuarto elemento.</p>
        <button class="btn" onclick="window.location.href='/InfoXcaret';">Leer más</button>
      </div>
    </div>
  
    <!-- Segunda fila -->
    <div class="row">
      <!-- Columna 1 -->
      <div class="column">
        <img src="1NUBYE.png" alt="Logo 5" class="image">
        <p>Texto descriptivo del quinto elemento.</p>
        <button class="btn" onclick="window.location.href='/ruta5';">Leer más</button>
      </div>
  
      <!-- Columna 2 -->
      <div class="column">
        <img src="1Gaya.png" alt="Logo 6" class="image">
        <p>Texto descriptivo del sexto elemento.</p>
        <button class="btn" onclick="window.location.href='/ruta6';">Leer más</button>
      </div>
  
      <!-- Columna 3 -->
      <div class="column">
        <img src="1inncol.png" alt="Logo 7" class="image">
        <p>Texto descriptivo del séptimo elemento.</p>
        <button class="btn" onclick="window.location.href='/ruta7';">Leer más</button>
      </div>
  
      <!-- Columna 4 -->
      <div class="column">
        <img src="12Agua.png" alt="Logo 8" class="image">
        <p>Texto descriptivo del octavo elemento.</p>
        <button class="btn" onclick="window.location.href='/ruta8';">Leer más</button>
      </div>
    </div>
  </div>
  
  