<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ventana de Espera</title>
  <link rel="stylesheet" href="ventana-espera.component.css">
</head>
<body>
  <div class="popup-container">
    <div class="popup-header">
      <span class="close-btn" onclick="window.location.href='/inicio';">X</span>
    </div>
    <div class="popup-body">
      <p>Espere 48 horas hábiles y vuelva a intentar iniciar sesión, su registro se encuentra en revisión.</p>
      <p>Cierre esta ventana para volver al inicio</p>
    </div>
  </div>
</body>
</html>
